@use '@/styles/helpers' as *;

.header {
  padding-block: var(--padding-y);
  position: sticky;
  top: 0;
  background-color: #fff;

  .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border);
    padding-bottom: var(--padding-y);

    .title {
      font-size: 26px;
      color: var(--color-secondary);
    }

    .search {
      background-color: var(--color-light);
      padding: 10px 14px;
      display: flex;
      align-items: center;
      column-gap: 20px;
      border-radius: 12px;

      input {
        outline: none;
        border: none;
        background-color: transparent;
        width: 240px;
        color: var(--color-primary);
      }
    }
  }

  .categories {
    padding-top: var(--padding-y);
  }
}

