@use '@/styles/helpers' as *;

.header {
  padding-block: var(--padding-y);
  position: sticky;
  top: 0;
  background-color: #fff;

  .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border);
    padding-bottom: var(--padding-y);

    .title {
      font-size: 26px;
      color: var(--color-secondary);
    }


  }

  .categories, .backLink {
    padding-top: var(--padding-y);
  }

  .backLink {
    text-decoration: underline;
  }
}
