@use '@/styles/helpers' as *;

:root {
  --color-secondary: #FC4308;
  --color-primary: #333;
  --color-gray: #777;
  --color-light: #eee;

  --border: 1px solid var(--color-light);
  --border-radius: 12px;

  --padding-y: 45px;

  @include laptop {
    --padding-y: 30px;
  }
}